@media only screen and (max-width: 800px) {
  html {
    overflow-x: hidden;
  }

  main {
    padding: 15px;
  }

  section {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  header {
    flex-direction: column;
    height: auto;
    padding: 15px;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .about-me,
  .trips-item {
    width: 90%;
    flex-direction: column;
  }

  .about-me img {
    margin-bottom: 15px;
  }

  .about-me p,
  .trips-item p {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    padding-right: 0;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    max-width: 400px;
    margin: 10px auto;
  }

  .gallery-item {
    flex-direction: column;
  }

  .gallery-item-text {
    font-size: 15px;
    align-items: center;
  }

  .trips-item {
    flex-direction: column;
    display: flex;
    padding-bottom: 20px;
  }

  .trips-item-images {
    margin-top: 20px;
  }

  .trips-item-images img {
    width: 150px;
  }

  .trips-table {
    background: linear-gradient(
      0deg,
      rgba(255, 139, 241, 0.3763699229691876) 0%,
      rgba(133, 181, 255, 0.1682466736694678) 100%
    );
  }

  .trips-table table {
    display: none;
  }

  .trips-table ul {
    display: block;
    padding: 30px;
  }

  .trips-table ul li::marker {
    color: rgb(190, 127, 250);
  }

  .trips-table ul span {
    color: rgb(255, 139, 241);
    font-size: 25px;
  }

  ul > li {
    margin-bottom: 15px;
  }

  ul li span {
    font-weight: bold;
  }

  .trips-table ol li {
    color: rgb(255, 139, 241);
    font-size: 20px;
  }

  .achivments {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
  }

  .achivments-photo img {
    max-height: 400px;
  }

  .achivments-item {
    margin-bottom: 20px;
  }

  .achivments-item h3 {
    margin: 20px 0;
  }

  .contacts {
    flex-direction: column;
    padding: 50px 15px;
  }

  .contacts-text {
    width: 90%;
  }

  .contacts-item a {
    font-size: 18px;
  }

  .contacts-form {
    width: 90%;
  }

  .contacts-form h3 {
    margin: 0;
  }
}
